@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Satisfy', cursive;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #04152d;
  --black2: #041226;
  --black3: #020c1b;
  --black-lighter: #1c4b91;
  --black-light: #173d77;
  --pink: #da2f68;
  --gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);

  --orange: #f89e00;
  --gradient2:linear-gradient(
    180deg,
    rgba(4, 21, 45, 0) 0%,
    #04152d 79.17%
);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
}

::-webkit-scrollbar {
  display: none;
}

